body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0;
}

.stopwatch {
    align-items: center;
    width: 250px;
    height: 200px;
    text-align: center;
    background: wheat;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}



#display {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons button {
 
  align-items: center;
    padding: 10px 20px;
    font-size: 1em;
   /margin: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#startStop {
    background-color: black;
    color: white;
}

#reset {
    background-color: black;
    color: white;
}

#lap {
    background-color: black;
    color: white;
}

.laps {
    margin-top: 20px;
    text-align: left;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
